<!DOCTYPE html>
<!--
The html tag below takes the url for processing and the file gets called from java to be mapped to the url path
Mapping happens in our Pages folder. For example this is the home file so the path it gets is GetMapping("/")
If you run the app and goto http://localhost:8080/ this page will be the first to display.
 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
    <h1> TESTING </h1>
    <p>
        lorem ipsum
    </p>
</body>
</html>