<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bates Hotel - Login</title>
    <link rel="stylesheet" href="Login.css">
</head>
<body>
    <header>
        <div class="logo">Bates<span class="highlight">Hotel</span></div>
        <div th:replace="fragments/navbar"></div>
    </header>
    <section class="auth-container">
        <h1>Login</h1>
        <p>Welcome back! Please enter your details to continue.</p>
        <form class="auth-form" th:action="@{/login}" method="POST">
            <div class="input-group">
                <label>Email Address *</label>
                <input type="email" name="email" required>
            </div>
            <div class="input-group">
                <label>Password *</label>
                <input type="password" name="password" required>
            </div>
            <button name="SubmitBtn" type="submit" class="auth-btn" th:action="${loginButton}">Login</button>
            <p class="switch-auth">Don't have an account? <a th:href="@{/signup}">Sign up here</a></p>
        </form>              
    </section>
    <!-- -->
    <div th:replace="fragments/footer"></div>
</body>
</html>
